{% extends 'base.html' %}
{% load static %}
{% block horary_content %}
<article id="horary">
	<h2 class="major">Horary</h2>
	<span class="image main">
		<img src="{% static 'samayanandaa_web/images/my_photo.jpg' %}" alt="">
	</span>
	<p>	Some people do not have any of the birth details and in such a case the consultee can confidently rely on this method wherein, He will be asked to put his Question and
		also mention a Number between 1 & 249. Based on the number the HORARY HOROSCOPE will be erected and the answer will be given... It is to be noted that the consultees will have to give separate number for each query.
	</p>
</article>
{% endblock %}